@{
    
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "Forgotten Password";
    
    var email = "";
    var message = "";
    
    if(IsPost) 
    {
        email = Request["email"];
        
        // Validation
        if (email.IsEmpty()) {
            ModelState.AddError("email", "Email Address is required.");
        }
        
        // Generate and send password reset email
        if(ModelState.IsValid)
        {
            if(WebSecurity.UserExists(email))
            {
                // Generate confirmation link URL
                var resetToken = WebSecurity.GeneratePasswordResetToken(email);
                var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, 
                                                        UriFormat.Unescaped);
                var passwordResetUrl = hostUrl + 
                                    "/Account/PasswordReset?resetToken=" + 
                                    HttpUtility.UrlEncode(resetToken);
                
                // Send email
                WebMail.Send(to: email,
                    subject: "TechieTogs Password Reset for " + email,
                    body: "Please visit <a href='" + passwordResetUrl + "'>" + 
                        passwordResetUrl +
                        "</a> to reset your TechieTogs account password."
                );
        
                message = "An email has been sent to your registered email address " + 
                    "with a password reset link and further instructions.";
            }
            else
            {
                message = "Unable to find matching account.";
            }
        }
    }
}


<h1>Forgotten Password</h1>
@if (!message.IsEmpty()) {
    <p>@message</p>
}
else
{
    <form action="ForgottenPassword" method="post" class="accountForm">
        <p>Please enter your registered email address to be sent a password reset link:</p>
        <p>
            @Html.Label("Email Address: ", "email")<br />
            @Html.TextBox("email", email)
            @Html.ValidationMessage("email")
        </p>
        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </form>
}

