@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "Home Page";
}

<h1>Order Complete</h1>
<p>Many thanks for your order. An email confirmation has been sent.</p>
<br />
<p>Your order will be dispatched shortly and should arrive in 3-5 working days.</p>