<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>WebImage Examples</h1>
        <ul>
            <li><a href="UploadingImages">Uploading Images</a></li>
            <li><a href="ResizingImages">Resizing Images</a></li>
            <li><a href="CroppingImages">Cropping Images</a></li>
            <li><a href="FlipAndRotate">Flipping and Rotating Images</a></li>
            <li><a href="TextWatermark">Adding Text as a Watermark</a></li>
            <li><a href="ImageWatermark">Using Another Image as a Watermark</a></li>
        </ul>
    </body>
</html>
