<!DOCTYPE html>
<html>
    <head>
        <title>Cached Chart Display Page</title>
    </head>
<body>
    <h1>Cached Chart Display Page</h1>
    <img src="CachedChart.cshtml?key=cacheKey" />
</body>
</html>

