<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chart Display Page</title>
    </head>
    <body>
        <h1>Chart Display Page</h1>
        <p>The chart shown on this page is rendered through the use of an  
           HTML <code>img</code> tag with its <code>src</code> attribute  
           set to the file which generates the chart: DatabaseChart.cshtml</p>
        <p>
            <img src="DatabaseChart.cshtml" />
        </p>
    </body>
</html>