@{ 
    Layout = "/Shared/_Layout.cshtml";
    var PageTitle = "RenderSection Example"; 
}

@section title {
    @PageTitle
}

@section links {
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
}

<h2>@PageTitle</h2>
<p>This is the main page content.</p>