<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @ProductHelpers.ProductInfo("Widget", "This is the product description", 2.99m)
    </body>
</html>
