<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Bing Example</h1>
        <p><a href="Default">Back to menu</a></p>
        @Bing.SearchBox()
    </body>
</html>
