@{
    Bing.SiteTitle = "My Blog";
    Bing.SiteUrl = "http://blog.stevelydford.com";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Web Helper Examples</h1>
        <ul>
            <li><a href="Bing">Bing</a></li>
            <li><a href="Twitter">Twitter</a></li>
            <li><a href="Facebook">Facebook</a></li>
            <li><a href="Gravatar">Gravatar</a></li>
            <li><a href="Linkshare">Linkshare</a></li>
            <li><a href="XboxLive">Xbox Live</a></li>
        </ul>
    </body>
</html>

