<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Facebook Examples</h1>
        <p><a href="Default">Back to menu</a></p>
        <div>
            @Facebook.LikeButton("www.asp.net")
        </div>
        <div>
            @Facebook.ActivityFeed("www.bbc.co.uk")
        </div>
        <div>
            @Facebook.Recommendations("www.asp.net")
        </div>
    </body>
</html>
