<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Xbox Live Example</h1>
        <p><a href="Default">Back to menu</a></p>
        <div>
            @GamerCard.GetHtml("stinky53")
        </div>
    </body>
</html>
