<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ServerInfo Example</title>
    </head>
    <body>
        <h1>ServerInfo Example</h1>
        <p><a href="Default">Back to menu</a></p>
        
        @ServerInfo.GetHtml()
    </body>
</html>
