<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Confirmation Sent</title>
    </head>
    <body>
        <h1>Thanks For Registering</h1>
        <p>We have sent an email with instructions on how to activate your account
        to the email address you supplied.</p>
    </body>
</html>

