@{
    var username = "";
    var message = "";
    
    if(IsPost) 
    {
        username = Request["username"];
        
        // Validation
        if (username.IsEmpty()) {
            ModelState.AddError("username", "Username is required.");
        }
        
        // Generate and send password reset email
        if(ModelState.IsValid)
        {
            // Generate confirmation link URL
            var resetToken = WebSecurity.GeneratePasswordResetToken(username);
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, 
                                                    UriFormat.Unescaped);
            var passwordResetUrl = hostUrl + 
                                "/PasswordReset?resetToken=" + 
                                HttpUtility.UrlEncode(resetToken);
            
            // Get email address for user
            var db = Database.Open("MembershipExample");
            var sqlCommand = "SELECT emailAddress FROM UserProfile WHERE UserName = @0";
            var userDetails = db.QuerySingle(sqlCommand, username);
            
            // Send email
            WebMail.Send(to: userDetails.emailAddress,
                subject: "Password Reset for " + username,
                body: "Please visit <a href='" + passwordResetUrl + "'>" + passwordResetUrl +
                    "</a> to reset your password."
            );
    
            message = "An email has been sent to your registered email address " + 
                "with a password reset link.";
        }
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Forgot Password</title>
        <style>
            span.field-validation-error { color: #FF0000; }
            input.field-validation-error { border: 1px solid #FF0000;
                                           background-color: #FFCCCC; }
        </style>
    </head>
    <body>
        <h1>Forgotten Password</h1>
        @if (!message.IsEmpty()) {
            <p>@message</p>
        }
        else
        {
            <form action="ForgotPassword" method="post">
                <div>
                    @Html.Label("Username: ", "username")<br />
                    @Html.TextBox("username", username)
                    @Html.ValidationMessage("username")
                </div>
                <div>
                    <input type="submit" value="Reset Password" />
                </div>
            </form>
        }
    </body>
</html>

